canvas {
    background-color: lightblue;
    border: 1px solid black;
    width: 100%;
}

body {
    background-color: peachpuff;
}

#ctrlContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 3%;
    justify-content: space-evenly;
}

button {
    width: 5em;
    height: 5em;
    border-radius: 20%;
    justify-self: center;
    background-color: lightpink;
    font-size: xx-large;
}

#upbtn {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
}

#downbtn {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

#leftbtn {
    grid-column-end: 3;
    grid-row-start: 2;
}

#rightbtn {
    grid-column-start: 3;
    grid-row-start: 2;
}

.rangeslider {
    display: flex;
    justify-content: center;
    padding: 20%;
}

.myslider {
    width: 50em;
    background-color: grey;
    -webkit-appearance: none;
    color: black;
}